.login-button {
    background-color: transparent;
    border: none;
    font-weight: $bold;
    font-family: $raleway;
    color: $raising-black;
    font-size: $small;
    margin-right: 10px;
    letter-spacing: 1px;
}

.primary-button {
    letter-spacing: 1px;
    background-color: $ball-blue;
    border: 1px solid $ball-blue;
    color: $white;
    font-size: $small;
    font-weight: $bold;
    font-family: $raleway;
    padding: 4px 14px;
}

.primary-button-prices {
    width: 100%;
    margin-top: 20px;
    letter-spacing: 1px;
    background-color: $ball-blue;
    border: 1px solid $ball-blue;
    color: $white;
    font-size: $small;
    font-weight: $bold;
    font-family: $raleway;
    padding: 12px 14px;
}