// First paletts colors
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// Second paletts colors
$dark-salmom: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

//Third paletts colors
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-laggon: #B1E4EB;

//Fourth paletts colors
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;

//Fifth paletts colors
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;